/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap"); */
:root {
  --dark-green: #58b5ce;
  --dark-red: #e52727;
  --dark-black: #000;
  --semi-dark: #33373f;
  --poppin: "Poppins", sans-serif;
  --playfair: "Playfair Display", serif;
  --dark-yellow: #fca311;
  --star-color: #ffb951;
  --dark-blue: #0c8ce9;
  --light-white: #f9f9f9;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

/* custom fonts */
.md-font {
  font-size: 1.6rem;
}
.sm-font {
  font-size: 1.4rem;
}
.xs-font {
  font-size: 1.2rem;
}
.lg-font {
  font-size: 2rem;
}

/* custom font weight */

.fw-regular {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

/* custom colors */

.text-black {
  color: var(--dark-black);
}
.text-yellow {
  color: var(--dark-yellow);
}

/* custom background */
.bg_light {
  background-color: #f8f7f5;
}

/* custom sections  */

section,
.top-footer {
  padding: 5rem 0;
}
.pb-section {
  padding-bottom: 5rem;
}

/* custom section-title */
.section-title {
  padding-bottom: 4rem;
}
.section-title h5 {
  font-weight: 400;
  font-size: 1.8rem;
  font-family: var(--poppin);
  color: var(--dark-black);
  text-transform: uppercase;
}
.section-title h2 {
  font-weight: 700;
  font-size: 3.6rem;
  font-family: var(--playfair);
  text-transform: uppercase;
}

/* custom body title */

.body-title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #404040;
  font-family: var(--playfair);
  text-transform: uppercase;
}

/* custom button */

.btn.view-more-btn {
  height: 4rem;
  font-size: 1.6rem;
  padding: 0 2rem;
  border: 1px solid #404040;
  border-radius: 0rem;
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.lg-view-more-btn {
  height: 6.4rem;
  font-size: 1.6rem;
  padding: 0 2rem;
  border: 1px solid #404040;
  border-radius: 0rem;
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.add-to-cart {
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 2rem;
  border: 1px solid var(--dark-blue);
  background-color: var(--dark-blue);
  border-radius: 0.2rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
}

.btn.buy-now {
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 2rem;
  border: 1px solid var(--dark-yellow);
  background-color: var(--dark-yellow);
  border-radius: 0.2rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
}

/* custom categroy cards */
.category.card {
  text-align: center;
  border: 0px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  overflow: hidden;
}
.category.card .card-body {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category.card h4 {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--poppin);
}

.top-navbar .nav .nav-item {
  margin: 0 0.5rem;
}
.top-navbar {
  padding: 2.5rem 0;
}
.top-navbar .nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
  padding: 0.25rem;
  font-family: var(--poppin);
  position: relative;
}
.top-navbar .nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: var(--dark-blue);
  bottom: 0;
  left: 0rem;
}
.top-navbar .nav .nav-item .nav-link .hot-dag {
  position: absolute;
  right: -5px;
  top: -12px;
  background-color: var(--dark-red);
  font-size: 1.2rem;
  color: #ffffff;
  padding: 0.2rem;
  font-family: var(--poppin);
  line-height: 1;
  font-weight: 400;
}
.top-navbar .nav .nav-item .nav-link .hot-dag:after {
  content: "";
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent transparent var(--dark-red);
  top: 70%;
  left: 50%;
  position: absolute;
}
.top-navbar .nav .nav-item .nav-link.active::after,
.top-navbar .nav .nav-item .nav-link:hover::after {
  width: 100%;
  transition: 0.3s linear;
}
.top-navbar a.sign-in {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--dark-black);
  text-decoration: none;
}
.dropdown .dropdown-menu .dropdown-link {
  color: var(--dark-black);
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: none;
}
.top-navbar .search-btn {
  font-size: 2.5rem;
  color: #58b5ce;
}
.top-navbar .cart-count {
  position: relative;
  font-size: 2.5rem;
  color: var(--dark-black);
}
.top-navbar .cart-count .nubmer {
  position: absolute;
  bottom: -5px;
  right: -10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-red);
  font-size: 1.4rem;
  color: white;
  font-family: var(--poppin);
}
/* custom features cards */

.category-card h3 {
  color: var(--semi-black);
  font-size: 3.2rem;
  font-weight: 700;
  font-family: var(--playfair);
  margin-bottom: 1.5rem;
}
.category-card .breadcrumb-list-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.category-card .breadcrumb-list-links .item .link {
  color: #007b8f;
  font-family: var(--poppin);
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}
.category-card .breadcrumb-list-links .right-chevron {
  font-size: 1.4rem;
  line-height: 1;
}
.swiper-pagination-bullet {
  margin-top: 60px;
  width: 12px;
  height: 12px;
  text-align: center;
  font-size: 1.2rem;
  background: #d9d9d9;
  border-radius: 50%;
}
.swiper {
  padding: 3rem 1rem 5rem 1rem !important;
}
.swiper-slide {
  background: #fff;
}
.swiper-pagination-bullet-active {
  background: #d9d9d9 !important;
  width: 25px !important;
  border-radius: 10px !important;
}

/* custom inline tabs */
.section-tab.inline {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.section-tab.inline .tab-items {
  margin-right: 3rem;
}
.section-tab.inline .tab-items .tab-link {
  font-weight: 500;
  font-size: 1.6rem;
  font-family: var(--poppin);
  color: var(--semi-dark);
  text-decoration: none;
  position: relative;
}

.section-tab.inline .tab-items .tab-link::after {
  content: "";
  position: absolute;
  width: 0rem;
  height: 0.2rem;
  background-color: var(--dark-green);
  left: 0px;
  bottom: -5px;
}
.section-tab.inline .tab-items .tab-link:hover::after,
.section-tab.inline .tab-items .tab-link.active::after {
  width: 8rem;
  transition: 0.3s linear;
}

/* custom product cards */
.product.card {
  border: 0;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}
.product.card .card-body {
  background-color: var(--light-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4rem 0;
  margin-bottom: 2rem;
}
.product.card .card-body label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-red);
  font-size: 1.6rem;
}

.product.card .card-body input[type="radio"]:checked ~ label {
  background-color: var(--dark-red);
  color: white;
}
.product.card .card-body .tag-badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 2.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: white;
  border-radius: 1.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.product.card h3 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  font-family: var(--poppin);
}
.rating {
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-wrap: nowrap;
}

.rating svg {
  font-size: 2.2rem;
  color: var(--star-color);
  margin-right: 0.3rem;
  line-height: 1;
  margin-bottom: 0.2rem;
}
.product.card .actual-price {
  color: var(--dark-red);
}
.product.card .marked-price {
  color: var(--dark-black);
  text-decoration: line-through;
}

/* extra services sections */
.extra-service svg {
  height: 50px;
  width: 38px;
}
.extra-service h3 {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-black);
  font-family: var(--playfair);
  text-align: center;
}
.extra-service p {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--dark-black);
  font-family: var(--poppin);
  text-align: center;
}

/* newsletter section */
.newsletter h3 {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-black);
  font-family: var(--playfair);
}
.newsletter p {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--dark-black);
  font-family: var(--poppin);
}
.newsletter .form-control {
  height: 4.5rem;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  font-size: 1.6rem;
  box-shadow: none;
  padding: 0 2rem;
}
.newsletter .form-control:focus {
  background-color: white;
  border: 1px solid #58b5ce;
}
.newsletter .btn.subscribe-button {
  height: 4.5rem;
  background-color: #58b5ce;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  background-color: #58b5ce;
  border: 1px solid #58b5ce;
  font-size: 1.6rem;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}
.newsletter .social-media-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.newsletter .social-media-list .social-media-link {
  margin-left: 2rem;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  color: var(--dark-black);
  background-color: #d9d9d9;
  flex-wrap: nowrap;
}

/* footer */
footer .foot_info {
  font-weight: 400;
  font-size: 1.2rem;
  color: #000042;
  font-family: var(--poppin);
  padding: 0.5rem 5rem 0.5rem 0;
}
footer .foot_title {
  font-weight: 500;
  font-size: 1.4rem;
  color: #333333;
  font-family: var(--poppin);
  margin-bottom: 1.5rem;
}
footer .footer-link-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
footer .nav-link {
  font-weight: 400;
  font-size: 1.2rem;
  color: #000042;
  font-family: var(--poppin);
  padding: 0.5rem 0;
}
.bottom-footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

/* custom modal  */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
.subscriptions .form-control {
  height: 5rem;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  font-size: 1.6rem;
  box-shadow: none;
  padding: 2rem;
}
.subscriptions .form-control:focus {
  border: 1px solid #181818;
  background-color: white;
}
.subscriptions .subscribe-button {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  background-color: #181818;
  border: 1px solid #181818;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
}
.subscriptions .discount-offer-button {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  background-color: var(--dark-yellow);
  border: 1px solid var(--dark-yellow);
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
}
.buy-product.modal .mySwiper2::after {
  display: none !important;
}
.buy-product.modal .mySwiper2 {
  height: 24rem !important;
}
.buy-product.modal .card-body {
  padding: 8em;
}
.buy-product.modal .title {
  font-weight: 700;
  font-size: 3.6rem;
  font-family: var(--playfair);
  color: var(--dark-black);
  margin-bottom: 4rem;
}
.buy-product.modal .product-bill p {
  font-weight: 400;
  font-size: 1.6rem;
  color: #666666;
  font-family: var(--poppin);
}
.buy-product.modal .product-bill h5 {
  font-weight: 500;
  font-size: 1.8rem;
  color: #666666;
  font-family: var(--poppin);
}
.buy-product.modal .product-bill h4 {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--dark-black);
  font-family: var(--poppin);
}
.buy-product.modal .multi-form .sub-title h3 {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--dark-black);
  font-family: var(--playfair);
}
.buy-product.modal .multi-form .sub-title svg {
  font-size: 2.4rem;
  color: var(--dark-black);
}
.buy-product.modal .multi-form .tab-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid white;
  background-color: white;
  border-radius: 6px;
}
.buy-product.modal .multi-form input[type="radio"]:checked ~ label {
  border: 1px solid #007b8f;
}
.buy-product.modal .multi-form .tab-label h5 {
  font-weight: 500;
  font-size: 2rem;
  color: var(--dark-green);
  font-family: var(--poppin);
}
.buy-product.modal .multi-form .tab-label p {
  font-weight: 400;
  font-size: 1.6rem;
  color: #666666;
  font-family: var(--poppin);
}
.buy-product.modal .multi-form .tab-label svg {
  font-size: 3rem;
  color: #007b8f;
}
.buy-product.modal .multi-form .validation-error {
  color: var(--dark-red);
  font-weight: 400;
  font-size: 16px;
  font-family: var(--poppin);
  margin-top: 0.5rem;
}
.buy-product.modal .multi-form .eye-type {
  font-weight: 600;
  font-size: 1.6rem;
  font-family: var(--poppin);
  color: var(--dark-black);
}
.buy-product.modal .multi-form .aurthsaveOption {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: var(--poppin);
  text-decoration: none;
}
.buy-product.modal .multi-form .aurthsaveOption.blue {
  color: var(--dark-blue);
}
.buy-product.modal .multi-form .aurthsaveOption.green {
  color: var(--dark-green);
}
.buy-product.modal .multi-form .form-control,
.buy-product.modal .multi-form .form-select {
  height: 5rem;
  font-size: 1.6rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  color: var(--dark-black);
  background-color: #f3f3f3;
  box-shadow: none;
  border: 1px solid #f3f3f3;
  font-family: var(--poppin);
}
.buy-product.modal .multi-form .form-control:focus {
  background-color: white;
  border: 1px solid var(--dark-green);
}
.buy-product.modal .multi-form input[type="checkbox"] {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 0rem;
  border: 1px solid var(--dark-black);
  accent-color: var(--dark-green);
  flex-shrink: 0;
  margin-right: 1.5rem;
}
.buy-product.modal .multi-form.login label {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: var(--poppin);
  color: #666666;
}
.buy-product.modal .multi-form .authLink {
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: none;
  color: #666666;
  font-family: var(--poppin);
}
.modal .modal-content {
  position: relative;
}
.modal .modal-close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.modal .modal-close svg {
  font-size: 2.4rem;
  color: var(--dark-black);
}
.modal .modal-close:hover svg {
  color: var(--dark-red);
}

/* custom breadcrumb */
.breadcrumb-item {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--dark-black);
  font-family: var(--poppin);
}
.breadcrumb-item a {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--dark-black);
  text-decoration: none;
  font-family: var(--poppin);
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

/* single product detail  */
.single-product-detail .brand-tag {
  font-weight: 400;
  font-size: 1.4rem;
  font-family: var(--poppin);
  color: var(--dark-black);
}
.single-product-detail .product-name {
  font-weight: 500;
  font-size: 2.4rem;
  font-family: var(--poppin);
  color: var(--dark-black);
}
.single-product-detail .marked-price {
  font-weight: 500;
  font-size: 1.4rem;
  color: #383838;
  font-family: var(--poppin);
  text-decoration: line-through;
}
.single-product-detail .actual-price {
  font-weight: 600;
  font-size: 2rem;
  color: var(--dark-red);
  font-family: var(--poppin);
}
.single-product-detail .product-description {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--dark-black);
  font-family: var(--poppin);
}

.single-product-detail .color-options label {
  width: 3rem;
  height: 3rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: 3px solid #ececec;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-product-detail .color-options label svg {
  font-size: 1.3rem;
  color: white;
  display: none;
}
.single-product-detail .color-options label.red {
  background-color: var(--dark-red);
}
.single-product-detail .color-options label.yellow {
  background-color: var(--dark-yellow);
}
.single-product-detail .color-options label.black {
  background-color: var(--dark-black);
}
.single-product-detail .color-options input[type="radio"]:checked ~ label svg {
  display: block;
}
.single-product-detail .size-options label {
  height: 3rem;
  border: 2px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--dark-black);
}
.single-product-detail .size-options input[type="radio"]:checked ~ label {
  background-color: var(--dark-green);
  border: 2px solid var(--dark-green);
  color: white;
}
.single-product-detail .form-control {
  height: 6.4rem;
  font-weight: 500;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--dark-black);
  background-color: #f3f3f3;
  box-shadow: none;
  border: 1px solid #f3f3f3;
}
.btn.lg-add-to-cart {
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--dark-blue);
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--poppin);
}
.single-product-detail .rating span {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--dark-black);
  font-family: var(--poppin);
}
.single-product-detail .prodcut-addition-info .title {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--dark-black);
  font-family: var(--poppin);
  margin-bottom: 0px;
}
.single-product-detail .prodcut-addition-info .sku-id {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--dark-black);
}
.single-product-detail .prodcut-addition-info a {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--dark-black);
  /* text-decoration: underline; */
}
.single-product-detail .prodcut-addition-info a:after {
  content: ",";
  margin: 0 0.5rem;
  font-weight: 400;
  font-size: 2rem;
  color: var(--dark-black);
  text-decoration: none !important;
}
.product-addition-features .tablist {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.product-addition-features .tablist .tab-link {
  height: 4rem;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #404040;
  border: 1px solid var(--dark-black);
  font-family: var(--poppin);
  text-decoration: none;
}
.product-addition-features .tablist .tab-link:hover,
.product-addition-features .tablist .tab-link.active {
  background-color: var(--dark-yellow);
  color: white;
  border: 1px solid var(--dark-yellow);
}

.mySwiper2 {
  height: 45rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0rem;
  position: absolute;
}
.mySwiper2::after {
  position: absolute;
  content: "\f004";
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--dark-red);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: -10px;
  right: 10px;
}
.mySwiper2 .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySwiper .swiper-slide {
  width: 12rem !important;
  height: 12rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySwiper .swiper-slide-thumb-active {
  border-top: 4px solid var(--dark-green);
}

/* Porduct list page */
.product-all-list .option-title {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--dark-black);
  font-family: var(--poppin);
}
.product-all-list .filter-list {
  list-style: none;
  padding: 0 2rem;
}

.product-all-list .filter-list .filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.product-all-list .filter-list .filter-title p,
.product-all-list .filter-list .filter-title svg {
  font-weight: 500;
  font-size: 1.4rem;
  font-family: var(--poppin);
  color: var(--dark-black);
}
.product-all-list .filter-list .filter-title svg {
  font-size: 2.5rem;
  font-weight: bold;
}
.product-all-list .filter-list input[type="checkbox"] {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 0rem;
  border: 1px solid var(--dark-black);
  accent-color: var(--dark-green);
}

.product-all-list .filter-list .filter-item label {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--dark-black);
  font-family: var(--poppin);
}
.product-all-list .price-range .form-control {
  height: 3rem;
  border: 1px solid #404040;
  padding: 0 2rem;
  background-color: white;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--poppin);
  box-shadow: none;
  border-radius: 0px;
}
.btn.filter-price {
  height: 3rem;
  border: 1px solid #404040;
  padding: 0 2rem;
  background-color: white;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--poppin);
  border-radius: 0px;
}
.product-all-list .ordering-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-all-list .ordering-header h4 {
  font-weight: 500;
  font-size: 2rem;
  font-family: var(--poppin);
  color: var(--dark-black);
}
.product-all-list .ordering-header select {
  height: 3rem;
  border: 1px solid #404040;
  font-weight: 400;
  font-size: 1.4rem;
  box-shadow: none;
  border-radius: 0px;
}
.product-all-list .ordering-header p {
  font-weight: 400;
  font-size: 1.4rem;
  font-family: var(--poppin);
  color: var(--dark-black);
  white-space: nowrap;
}
.product-all-list .ordering-header svg {
  font-size: 2rem;
  color: var(--dark-black);
}
